.mainColor {
  color: var(--text-color);
}

.homePage {
  position: relative;
  height: 100%;
}

.homePageContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.textContent {
  max-width: var(--container-size-small);

  .mainContent {
    margin-bottom: 1rem;
    p {
      font-size: 1.25rem;
      color: var(--text-color-lighter);

      &:last-child {
        color: var(--text-color-darker);
        font-size: var(--font-size-small);
      }
    }
    h1 {
      font-size: 2rem;
      margin-bottom: 1rem;
      letter-spacing: -2px;
      transition: all 300ms;
      color: var(--main-color-1);
    }
  }

  .buttonContainer {
    margin: 1rem 0;
    button {
      background-color: var(--main-color-1);
      padding: 0.75rem 1.5rem;
      border-radius: 1.25rem;
      font-weight: 500;
      font-size: 1.25rem;
      border: none;
      color: var(--white-color);
      transition: all 300ms;
    }
  }
}

.imgContainer {
  max-width: var(--container-size-small);
  margin-top: 5rem;
}

@media screen and (min-width: 640px) {
  .textContent{
    .mainContent {
      p {
        font-size: 1.5rem;
      }
      h1 {
        font-size: 3rem;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .homePageContainer {
    flex-direction: row;
    justify-content: space-between;
  }

  .textContent {
    .mainContent {
      h1 {
        font-size: 4rem;
      }
    }
  
    .buttonContainer {
      button {
        background-color: var(--main-color-1);
        padding: 0.65rem 1.25rem;
        font-size: 1rem;
        &:hover {
          filter: drop-shadow(0.5rem 0.5rem 0.2rem var(--active-color));
          transform: translateY(-0.25rem);
          cursor: pointer;
        }
        &:active {
          background-color: var(--active-color);
          filter: drop-shadow(0.5rem 0.5rem 0.2rem var(--main-color-1));
        }
      }
    }
  }
  .imgContainer {
    max-width: var(--container-size-medium);
  }
}

@media screen and (min-width: 1536px) {
  .homePageContainer {
    max-width: 1536px;
    margin: 0 auto;
  }
}
