.mainColor {
  color: var(--main-color-1);
}

.contactPage {
  height: 100%;
}

.contactPageContainer {
  position: relative;
  padding-top: 2rem;
  height: 100%;
}

.pageNameContainer {
  width: var(--container-size-verySmall);
  margin: 0 auto;
  transition: all 500ms;
  h2 {
    color: var(--active-color);
    text-transform: capitalize;
    font-weight: 600;
    margin-bottom: 1rem;
  }
}

.contactContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .contactSection {
    width: 100%;
    max-width: var(--container-size-verySmall);
    .contactInfoContainer {
      overflow: hidden;
      display: grid;
      gap: 0.25rem;
      grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
      grid-auto-rows: minmax(40px, 1fr);
      margin-bottom: 1rem;
      div {
        display: grid;
        align-content: center;
        padding: 0.5rem;
        border-radius: 0.25rem;
        background-color: var(--background-color-lighter);
      }
      p {
        font-size: 0.85rem;
        &:first-child {
          color: var(--text-color-darker);
        }
      }
    }
  }
  .imageContent {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    .imgContainer {
      align-self: center;
      max-width: var(--container-size-verySmall);
    }
  }
}

@media screen and (min-width: 640px) {
  .pageNameContainer {
    h2 {
      font-size: 2rem;
    }
  }
}

@media screen and (min-width: 1024px) {
  .contactPageContainer {
    padding-top: 7rem;
  }
  .pageNameContainer {
    width: 100%;
    position: absolute;
    top: 20vh;
    h2 {
      font-size: 2.5rem;
    }
  }
  .contactContent {
    height: 100%;
    flex-direction: row;
    justify-content: flex-start;
    .contactSection {
      max-width: var(--container-size-small);
    }
    .imageContent {
      margin-top: 0;
      flex-grow: 1;
      margin-left: 3rem;
      margin-bottom: 5rem;
    }
  }
}

@media screen and (min-width: 1536px) {
  .contactPageContainer {
    max-width: 1536px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1836px) {
  .pageNameContainer {
    top: 25vh;
  }
}