.mainLayout {
  display: grid;
  grid-template-rows: var(--side-menu-width-height) auto;

  header {
    position: relative;
  }

  main {
    min-height: calc(100vh - var(--side-menu-width-height));
    overflow: hidden;
    & > div {
      padding: 1.75rem 1.75rem;
    }
  }
}

@media screen and (min-width: 1024px) {
  .mainLayout {
    min-height: 100vh;
    min-height: 100dvh;
    grid-template-rows: auto;
    grid-template-columns: var(--side-menu-width-height) auto;

    main {
      & > div {
        padding: 2.5rem 2.5rem;
      }
    }
  }
}

.white {
  color: white;
  font-size: 10rem;
}
