.mainLayout {
  display: grid;
  grid-template-rows: var(--side-menu-width-height) auto;

  header {
    position: relative;
  }

  main {
    padding: 2rem 2rem;
  }
}

@media screen and (min-width: 1024px) {
  .mainLayout {
    min-height: 100vh;
    grid-template-rows: auto;
    grid-template-columns: var(--side-menu-width-height) auto;
  }
}
