/* Font */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* Variables */
:root {
  --main-color-1: #149ECA;
  --main-color-2: #fbbf24;
  --background-color: #0b0f17;
  --background-color-lighter: #1f2937;
  --nav-color: #111827;
  --text-color: #d1d5db;
  --text-color-darker: #9ca3af;
  --text-color-lighter: #d1d5db;
  --white-color: #fff;
  --active-color: #f59e0b;
  --green-color: #65a30d;
  --light-green-color: #84cc16;
  --red-color: #b91c1c;

  --font-size-small: 1rem;
  --side-menu-width-height: 60px;
  --container-size-verySmall: 480px;
  --container-size-small: 640px;
  --container-size-medium: 820px;

  /* Toastify library colors */
  --toastify-color-dark: var(--nav-color);
  --toastify-text-color-dark: var(--text-color);
  --toastify-color-success: var(--green-color);
  --toastify-color-error: var(--red-color);
}

/* Universal styles */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global styles */
body {
  font-family: "Inter", sans-serif;
  background-color: var(--background-color);
}

input,
button,
select,
textarea {
  font-family: "Inter", sans-serif;
}

ul {
  list-style-type: none;
}

img {
  display: block;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
i,
li {
  color: var(--text-color);
  font-weight: 400;
}

a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

/* Global classes */
